components/model-4b-it-int4-asym-ov/gemma-3-4b-it-int4_asym-ov filter=lfs diff=lfs merge=lfs -text
components/model-4b-it-q4-0-gguf/gemma-3-4b-it-q4_0.gguf filter=lfs diff=lfs merge=lfs -text
components/mmproj-f16-4b-gguf/mmproj-model-f16-4B.gguf filter=lfs diff=lfs merge=lfs -text
