name: Build main branch

on:
  push:
    branches: [ main ]

jobs:
  build-and-publish:
    name: Build and publish snap
    uses: canonical/inference-snaps-dev/.github/workflows/build-publish-snap.yaml@IENG-1891-refactor-ci
    with:
      # Use the commit that triggered the workflow
      build-sha: ${{ github.sha }}
      # main branch gets published to latest/edge
      publish-channel: 'latest/edge'
    secrets:
      store-credentials: ${{ secrets.STORE_LOGIN }}
